/*! CSS Used from: https://app.wodify.com/WOD_UI/Blocks/WOD_UI/WODFlow/WOD_Show.css?30042 */
.component_show_wrapper{padding-left:20px;line-height:1.2em;}
.wod_comment{font-style:italic;}
.component_name{font-weight:bold;color:#cc2626;word-wrap:break-word;}
.component_comment{font-style:italic;color:#aaaaaa;margin-top:5px;}
.component_wrapper,.wod_wrapper{word-wrap:break-word;}
/*! CSS Used from: https://app.wodify.com/WodifyExperience_UI/Blocks/WodifyExperience_UI/Appointments/HeartRateMonitor.css?28626 */
*:focus{outline:transparent;}
/*! CSS Used from: https://app.wodify.com/WodifyExperience_UI/Blocks/WodifyExperience_UI/Appointments/Appointments.css?28626 */
*:focus{outline:none;}
/*! CSS Used from: https://app.wodify.com/AthleteTheme/Theme.AthleteTheme.css?29967 */
div,span{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;}
::-moz-selection{color:#222;background:#ccc;text-shadow:none;}
::selection{color:#222;background:#ccc;text-shadow:none;}
.strong-tag{font-weight:bold;}
div.h1{font-family:'RobotoBold', 'Helvetica-Neue', sans-serif;font-size:2.25em;font-weight:bold;line-height:normal;margin:32px 0;text-transform:uppercase;color:#fff;}
div.h1 .strong-tag{color:#cc2626;word-wrap:break-word;}
div.main{z-index:500;float:none;width:auto;margin-left:0;padding-left:290px;}
.wod_wrapper{font-size:1.35em;text-transform:none;}
.wod_header{font-weight:bold;margin-bottom:.5em;text-transform:uppercase;word-wrap:break-word;color:#cc2626;}
.announcements{font-size:1em!important;font-weight:bold!important;color:#fae001;}
.div-inline{display:inline;}
@media only screen and (min-width: 1220px){
div.main{float:none;width:auto;margin-left:0;padding-left:290px;}
}
@media print{
*{color:black!important;background:transparent!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important;}
div.main{padding-left:0!important;}
div.h1{margin-top:0;}
}
/*! CSS Used from: https://app.wodify.com/WOD/WOD.css?29553 */
.Component_Display_Name{margin-left:auto;margin-right:auto;overflow:auto;padding:5px;text-align:left;line-height:200%;}
/*! CSS Used fontfaces */
@font-face{font-family:'RobotoBold';font-weight:normal;font-style:normal;src:url('https://app.wodify.com/AthleteTheme/webfonts/Roboto-BoldCondensed-webfont.eot');src:url('https://app.wodify.com/AthleteTheme/webfonts/Roboto-BoldCondensed-webfont.eot#iefix') format('embedded-opentype'),      url('https://app.wodify.com/AthleteTheme/webfonts/Roboto-BoldCondensed-webfont.woff') format('woff'),      url('https://app.wodify.com/AthleteTheme/webfonts/Roboto-BoldCondensed-webfont.ttf') format('truetype'),      url('https://app.wodify.com/AthleteTheme/webfonts/Roboto-BoldCondensed-webfont.svg#RobotoBold') format('svg');}